.header {
  margin-top: 13px;
}

.header .container {  
  height: 69px;
  display: flex;
  align-items: baseline;
}

.header__left {  
  margin-left: 78px;
  margin-right: 69px;
}

.header__center {  
  margin-right: 15px;
}