.nav__list {
  display: flex;  
}

.nav__item {  
  font-size: 13px;
  font-weight: 500;
}

.nav__item::after {
  content: "\2022";
  color: #ffffff;
  margin-right: 14px;
  margin-left: 14px;
}

.nav__item:last-child::after {
  display: none;
  margin-right: 0;
  margin-left: 0;
}

.nav__title {
  color: #ffffff;
}